*{
    box-sizing: border-box;
    outline:none;
}
#listing{
    width: 70%;
    height: 1000px;
    z-index: 5;
    margin-left: auto;
    margin-right:auto;
    position: relative;
    border-radius: 15px;
    margin-bottom: 100px;
    border: 5px solid #ADC8D9;
}

body{
    background: linear-gradient(0deg,#000000, #2c2c2c)
}

.titling{
    font-size: 50px;
    font-family: 'JetBrains Mono', monospace;
    color:#ADD9D2;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li{
    color:white;
    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ul li:nth-child(odd) {
    background: linear-gradient(135deg, #63636319, #63636300);
    
} */

h2{
    color:white;
    font-family: 'JetBrains Mono', monospace;
    font-size: 35px;
    margin-top: 0;
    margin-left: auto;
    margin-right:auto;
    position: relative;
    text-align: center;
}

ul li:hover{
    background-image: linear-gradient(135deg, #2c2c2c19, #2c2c2c00);
}

#manage{
    width:100%;
    background-color:#3B3B3B;
    z-index: 6;
    position: relative;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 0px 5px;
    border-bottom: solid #2c2c2c 5px;
}

a{
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    color:white;
    font-size: 15px;
}

#specs{
    width:500px;
    display:table-cell;
    height: 100%;
    padding: 10px;
    vertical-align: top;
}

.totali{

}
#specs a{
    
}


#newint{
    position: sticky;
    z-index: 50;
    float: right;
    top: 1%;
    filter: drop-shadow(0 0 0.75rem black);
    margin-right: 10px;
    margin-top: 10px;
}


.submitb{
    width:25px;
    display: inline;
    position: relative;
    height:25px;
    background-color: #636363;
    transition: 0.3s;
    border: none;
    border-radius: 5px;
    bottom: 0px;
    cursor: pointer;
    z-index: 50;

    
}
.submitb:hover{
    background-color: #E68B5A;
    bottom: 5px;
}


h3{

}

.bottomrow{
    position: sticky;
    bottom:0;
    display:block;
    /* background-color:gray; */
    height: 50px;
    z-index: 51;
}

.glass-bg{
    background-image: linear-gradient(135deg, #3B3B3B19, #3B3B3B00);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
    
  }
.repeated{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}